.normal {
  --color: hsl(120, 100%, 50%);
  font-family: sans-serif;
  font-size: 9.6px;
  width: 0.9rem;
  height: 0.9rem;
  padding: 0.72rem;
  font-weight: bold;
  align-items: center;
  place-content: center;
  transform-style: preserve-3d;
  transform: rotateY(30deg) rotateX(45deg) translateZ(var(--extra-offset, 0rem));
  position: absolute;
  outline: round(1.8px, 1px) solid var(--color);
  outline-offset: -3px;
}
.normal::after {
  transform: rotateX(90deg);
  transform-origin: bottom;
}
.normal::before {
  transform: rotateY(90deg);
  transform-origin: left;
}
.normal, .normal::before, .normal::after {
  background-color: #111;
  transition: all 100ms ease;
}
.normal::before, .normal::after {
  content: "";
  position: absolute;
  inset: 0;
  border: round(1.8px, 1px) solid var(--color);
}
.normal:nth-child(n+11):nth-child(-n+20) {
  --extra-offset: calc(1 * 1.8rem);
}
.normal:nth-child(n+21):nth-child(-n+30) {
  --extra-offset: calc(2 * 1.8rem);
}
.normal:nth-child(n+31):nth-child(-n+40) {
  --extra-offset: calc(3 * 1.8rem);
}
.normal:nth-child(n+41):nth-child(-n+50) {
  --extra-offset: calc(4 * 1.8rem);
}
.normal:nth-child(1) {
  z-index: 99;
}
.normal:nth-child(2) {
  z-index: 98;
}
.normal:nth-child(3) {
  z-index: 97;
}
.normal:nth-child(4) {
  z-index: 96;
}
.normal:nth-child(5) {
  z-index: 95;
}
.normal:nth-child(6) {
  z-index: 94;
}
.normal:nth-child(7) {
  z-index: 93;
}
.normal:nth-child(8) {
  z-index: 92;
}
.normal:nth-child(9) {
  z-index: 91;
}
.normal:nth-child(10) {
  z-index: 90;
}
.normal:nth-child(11) {
  z-index: 99;
}
.normal:nth-child(12) {
  z-index: 98;
}
.normal:nth-child(13) {
  z-index: 97;
}
.normal:nth-child(14) {
  z-index: 96;
}
.normal:nth-child(15) {
  z-index: 95;
}
.normal:nth-child(16) {
  z-index: 94;
}
.normal:nth-child(17) {
  z-index: 93;
}
.normal:nth-child(18) {
  z-index: 92;
}
.normal:nth-child(19) {
  z-index: 91;
}
.normal:nth-child(20) {
  z-index: 90;
}
.normal:nth-child(21) {
  z-index: 99;
}
.normal:nth-child(22) {
  z-index: 98;
}
.normal:nth-child(23) {
  z-index: 97;
}
.normal:nth-child(24) {
  z-index: 96;
}
.normal:nth-child(25) {
  z-index: 95;
}
.normal:nth-child(26) {
  z-index: 94;
}
.normal:nth-child(27) {
  z-index: 93;
}
.normal:nth-child(28) {
  z-index: 92;
}
.normal:nth-child(29) {
  z-index: 91;
}
.normal:nth-child(30) {
  z-index: 90;
}
.normal:nth-child(31) {
  z-index: 99;
}
.normal:nth-child(32) {
  z-index: 98;
}
.normal:nth-child(33) {
  z-index: 97;
}
.normal:nth-child(34) {
  z-index: 96;
}
.normal:nth-child(35) {
  z-index: 95;
}
.normal:nth-child(36) {
  z-index: 94;
}
.normal:nth-child(37) {
  z-index: 93;
}
.normal:nth-child(38) {
  z-index: 92;
}
.normal:nth-child(39) {
  z-index: 91;
}
.normal:nth-child(40) {
  z-index: 90;
}
.normal:nth-child(41) {
  z-index: 99;
}
.normal:nth-child(42) {
  z-index: 98;
}
.normal:nth-child(43) {
  z-index: 97;
}
.normal:nth-child(44) {
  z-index: 96;
}
.normal:nth-child(45) {
  z-index: 95;
}
.normal:nth-child(46) {
  z-index: 94;
}
.normal:nth-child(47) {
  z-index: 93;
}
.normal:nth-child(48) {
  z-index: 92;
}
.normal:nth-child(49) {
  z-index: 91;
}
.normal:nth-child(50) {
  z-index: 90;
}

.col-0 {
  left: calc(150px + var(--row-offset, 0));
}

.col-1 {
  left: calc(189px + var(--row-offset, 0));
}

.col-2 {
  left: calc(228px + var(--row-offset, 0));
}

.col-3 {
  left: calc(267px + var(--row-offset, 0));
}

.col-4 {
  left: calc(306px + var(--row-offset, 0));
}

.col-5 {
  left: calc(345px + var(--row-offset, 0));
}

.col-6 {
  left: calc(384px + var(--row-offset, 0));
}

.col-7 {
  left: calc(423px + var(--row-offset, 0));
}

.col-8 {
  left: calc(462px + var(--row-offset, 0));
}

.col-9 {
  left: calc(501px + var(--row-offset, 0));
}

.row-0 {
  --row-offset: 0rem;
  top: 195px;
}

.row-1 {
  --row-offset: 0.72rem;
  top: 246px;
}

.row-2 {
  --row-offset: 1.44rem;
  top: 297px;
}

.row-3 {
  --row-offset: 2.16rem;
  top: 348px;
}

.row-4 {
  --row-offset: 2.88rem;
  top: 399px;
}

.pressed {
  transform: rotateY(30deg) rotateX(45deg) translateZ(calc(var(--extra-offset, 0rem) - 0.9em));
  --color: hsl(0, 100%, 50%);
}
.pressed::after {
  top: 0.9em;
}
.pressed::before {
  right: 0.9em;
}
